*,*::before,*::after,html,body{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  background: #dbdbdb;
}

nav{
  background-color: #333;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #f2f2f2;
  box-shadow:1px 1px 15px 3px #222;
  padding:15px 8px;
  align-items:flex-start center;
  overflow:hidden;
}

@media only screen and (min-width:1000px){
  nav{
    flex-direction: row;
    padding:15px 30px;
  }
}

.nav_fixed{
  width:100%;
  top:0;
  left:0;
  z-index:3;
  position:fixed;
}

nav .dos{
  display:flex;
  justify-content: space-between;
  width:40%;
  flex-direction: column-reverse;
  text-align: right;
  right: 0;
  bottom:30px;
}


@media only screen and (min-width:1000px){
  nav .dos{
    width:60%;
    justify-content: flex-end;
    flex-direction: row;
  }
}

nav .logo{
  width:40%;
}

nav .nav_menu{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width:140px;
}
@media only screen and (min-width:400px){
  nav .nav_menu{
    position:relative;
    left:14%;
  }
}
@media only screen and (min-width:500px){
  nav .nav_menu{
    position:relative;
    left:16%;
  }
}
@media only screen and (min-width:600px){
  nav .nav_menu{
    position:relative;
    left:23%;
  }
}
@media only screen and (min-width:1000px){
  nav .nav_menu{
    position:relative;
    bottom:auto;
    left:auto;
  }
}

nav img{
  width:160px;
  height:40px;
}

nav input[type=text]{
  background: #333;
  border:1px solid #444;
  border-radius:5px;
  padding:6px 20px;
  color: #f2f2f2;
}

@media only screen and (min-width:600px){
  nav input[type=text]{
    padding:8px 60px;
    }
  }

@media only screen and (min-width:800px){
  nav input[type=text]{
    position: relative;
    left:auto;
  }
}

nav input[type=text]:hover {
  border:2px solid #777;
  transition:ease all .9s;
}

nav i{
  font-size:1.5em;
}

nav button{
  color: #f2f2f2;
  background: none;
  border:none;
  position:relative;
  right:130px;
  bottom:100px;
  top:3px;
  display:none;
}

@media only screen and (min-width:458px){
  nav button{
    right:30px;
    display:inline;
  }
}

@media only screen and (min-width:800px){
  nav input[type=text]{
    padding:8px 70px;
  }
  nav button{
    right:60px;
  }
}


.burguer span{
  width:35px;
  height:4px;
  margin-top:4px;
  display: block;
  background: #f2f2f2;
  cursor:pointer;
}

/*MENU DOS*/
.menu_dos{
  background: #444;
  padding:2px 0px;
  overflow: hidden;
}

@media only screen and (min-width:900px){
  .menu_dos{
    padding:2px 30px;
  }
}

.menu_dos ul{
  display:flex;
  list-style: none;
  text-align: left;
  position:relative;
  right:40px;
  white-space: nowrap
}
.menu_dos ul li{
  margin-left:4px;
  white-space: nowrap
}
.menu_dos ul li a{
  color: #f2f2f2;
  font-weight: bold;
  text-decoration:none;
  white-space: nowrap
}

@media only screen and (min-width:900px){
  .menu_dos ul li{
    margin-left:20px;
    position:relative;
    right:auto;
  }
}

.buscador form{
  width:100%;
  background-color: none;
  padding:30px 30px;
  display:flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.buscador input{
  width:90%;
  background-color: #f2f2f2;
  border:2px solid #555;
  padding:5px 30px;
  border-radius: 6px;
}

.buscador button{
  width:9%;
  background-color: #333;
  border:2px solid #f2f2f2;
  color: #f2f2f2;
  padding:5px 0px;
  border-radius: 6px;
}


/*Menu_Slider*/
.menu_slider{
  position:fixed;
  width:0%;
  padding:0px 0px;
  background-color: #444;
  display:flex;
  flex-direction: column;
  position: fixed;
  right:0;
  height:100vh;
  top:0;
  transition:ease .9s;
  z-index:7;
}

.menu_slider a{
  color: #f2f2f2;
  font-weight: bold;
  text-decoration: none;
  margin-top:20px;
  text-align: left;
  transition:ease all .9s;
  white-space: nowrap
}

.menu_slider a:hover{
  color: #999;
}

.abrir_menu{
  width:280px;
  padding:10px 10px;
}

.fondo_transparente{
  display:block;
  background-color: rgba(1,1,1,60%);
  position:fixed;
  height:100vh;
  width:100%;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:-3;
  transition:ease all .9s;
  filter:opacity(0%);
}

.activar_fondo{
  transition:ease all .9s;
  z-index:4;
  filter:opacity(1);
}

/*CONTENEDOR*/

.contenedor{
  width:100%;
  padding:5px 40px;
}

.productos{
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
}

.contenedor .producto{
  width:95%;
  background: #f2f2f2;
  color: #333;
  box-shadow:1px 1px 20px -7px #000;
  margin-top: 20px;
  transition:ease all .9s;
  padding:5px 15px;
  margin:5px;
}

.contenedor .producto h4 span{
    color:#1a8003;
}

.contenedor .producto:hover{
  box-shadow:1px 1px 25px 3px #000;
}

.contenedor .producto img{
  width:90%;
}

.contenedor .producto a{
  padding:3px 25px;
  background-color: #222;
  color: #f2f2f2;
  text-decoration: none;
  font-weight: bold;
  margin:2px;
  text-align: right;
  float:right;
  transition:ease 1.2s;
  border-radius:5px;
}

.contenedor .producto a:hover{
  background-color: #444;
}

@media only screen and (min-width:750px){
  .contenedor .producto{
    width:45%;
  }
}

@media only screen and (min-width:900px){
  .contenedor .producto{
    width:32%;
  }
}

@media only screen and (min-width:1100px){
  .contenedor .producto{
    width:23.5%;
  }
}

@media only screen and (min-width:1800px){
  .contenedor .producto{
    width:19.5%;
  }
}

/*FOOTER*/
footer{
  background: #222;
  color: #f2f2f2;
  display:flex;
  justify-content: space-around;
  padding:10px 20px;
  flex-wrap: wrap;
}

footer div{
  width:100%;
  text-align: center;
}

@media only screen and (min-width:900px){
  footer div{
    width:50%;
    text-align: center;
  }
}



footer div i{
  font-size: 1.8em;
  margin-left: 15px;
}

.copyright{
  padding:0.2px 15px;
  margin:0;
  color: #f2f2f2;
  background-color:#000;
  text-align: right;
  font-weight: bold;
}

/*ver_playera.html*/

.contenedor_playera{
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.contenedor_playera div{
  width:98%;
  padding:5px 20px;
}

@media only screen and (min-width:900px){
  .contenedor_playera div{
    width:48%;
    padding:5px 20px;
  }
}

.playera{
  text-align: center;
  box-shadow:1px 1px 30px -5px #555;
  background-color: #f2f2f2;
}

.contenedor_playera div h4 span{
  width:50%;
  padding:5px 0px;
  font-size: 1.2em;
  font-weight: bold;
  color: #21F657;
}

.contenedor_playera .menu_info select{
  width:100%;
  background-color: #333;
  border:1px solid #555;
  color: #f2f2f2;
  border-radius: 3px;
  text-align: left;
  padding:5px 40px;
}

.form-add{
  width:98%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}


.contenedor_playera .menu_info .add{
  width:100%;
  background-color: #333;
  border:1px solid #555;
  color: #f2f2f2;
  border-radius: 3px;
  text-align: left;
  padding:5px 40px;
  white-space: nowrap;
}

.contenedor_playera .menu_info .wish{
  width:98%;
  background-color: #F71919;
  border:1px solid #555;
  color: #f2f2f2;
  border-radius: 3px;
  text-align: left;
  padding:5px 40px;
  margin-top: 20px;
}

@media only screen and (min-width:900px){
  .form-add{
    width:220%;
  }
  .contenedor_playera .menu_info .wish{
    width:220%;
  }
}

.advertir{
  color: #0B549C;
  font-weight: bold;
}

/*quienes_somos.html*/
.contenedor_somos{
  padding:6px 20px;
  width:100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width:100%;
  flex-direction: row-reverse;
  background-color: #f2f2f2;
}

.contenedor_somos div{
  width:99%;
}

.contenedor_somos div img{
  width:100%;
  height:40vh;
}

@media only screen and (min-width:900px){
  .contenedor_somos div img{
    width:100%;
    height:50vh;
  }
}

@media only screen and (min-width:1000px){
  .contenedor_somos div img{
    width:100%;
    height:50vh;
  }
}

@media only screen and (min-width:1100px){
  .contenedor_somos div{
    width:49%;
  }
  .contenedor_somos div img{
    width:100%;
    height:60vh;
  }
}

/*contacto*/

.contacto{
  background-color: #333;
  color: #f2f2f2;
  padding:5px 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row-reverse;
}

.contacto div{
  background-color: #333;
  color: #f2f2f2;
  padding:5px 0px;
  width:96%;
}

.contacto div img{
  width:100%;
  height: 45vh;
}

@media only screen and (min-width:800px){
  .contacto div{
    background-color: #333;
    color: #f2f2f2;
    padding:5px 0px;
    width:50%;
  }

  .contacto div img{
    width:100%;
    height: 60vh;
  }
}

@media only screen and (min-width:900px){
  .contacto div img{
    width:100%;
    height: 70vh;
  }
}
.contacto h3{
  color: #f2f2f2;
  text-align: center;
}

.contacto .dos{
  display: flex;
  width: 100%;
  margin-top: -10px;
  padding:0px 0px;
  flex-wrap: wrap;
}

.contacto .dos div{
  width: 98%;
}

@media only screen and (min-width:900px){
  .contacto .dos div{
    width: 48%;
  }
}


.contacto .dos input{
  background-color: #444;
  border:2px solid #555;
  padding:5px 20px;
  width:90%;
  border-radius: 5px;
  color: #f2f2f2;
  margin-top:-20px;
}

.contacto input{
  background-color: #444;
  border:2px solid #555;
  padding:5px 20px;
  width:92%;
  border-radius: 5px;
  color: #f2f2f2;
  margin-top:0px;
}

.contacto textarea{
  background-color: #444;
  border:2px solid #555;
  padding:5px 20px;
  width:92%;
  height:15vh;
  border-radius: 5px;
  color: #f2f2f2;
}

.contacto button{
  background-color: #222;
  border:2px solid #555;
  padding:7px 20px;
  text-align: center;
  font-weight: bold;
  width:92%;
  border-radius: 5px;
  color: #f2f2f2;
}

/*carrito.html*/
.formulario_carrito{
  background-color: #444;
  color: #f2f2f2;
  padding:10px 10px;
}
.formulario_carrito h3{
  text-align: center;
}
.formulario_carrito form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.formulario_carrito input{
  background-color: #555;
  display: flex;
  flex-wrap: wrap;
  width:98%;
  border-radius: 5px;
  border: 2px solid #666;
  padding:6px 10px;
  color: #f2f2f2;
  margin-top:20px;
}

.formulario_carrito input::placeholder{
  color: #999;
  border: none;
}

.formulario_carrito button{
  background-color: #222;
  display: flex;
  flex-wrap: wrap;
  width:98%;
  border-radius: 5px;
  border: 2px solid #555;
  padding:6px 10px;
  color: #f2f2f2;
  margin-top:20px;
  text-align: center;
}

@media only screen and (min-width:900px){
  .formulario_carrito input{
    width:48%;
    margin-top:10px;
  }

  .formulario_carrito button{
    width:48%;
    margin-top:10px;
  }
}

@media only screen and (min-width:1100px){
  .formulario_carrito input{
    width:30%;
    margin-top:10px;
  }

  .formulario_carrito button{
    width:30%;
    margin-top:10px;
  }
}

.wishListDiv button{
  background-color: #DC143C;
  color: #f2f2f2;
  border-radius: 5px;
  padding:5px 10px;
}


